<ion-header>
  <ion-toolbar color="primary">
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="justify-items: center; display: grid;">
    <img style="height: 250px;width: 250px;" src="https://avatars.githubusercontent.com/u/119078933?v=4"/>
    <ion-card-header>
      <ion-card-title>Sobre mí</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Soy un estudiando de Desarrollo de Software en I.E.S Francisco de los Ríos (Fernan-nuñez, Córdoba). Entre mis proyectos mas relevantes destaco:</p>
      <ul dir="auto">
        <li>Red Social (Nexa-project): En este proyecto desarrolle varias de las principales funcionalidades de una red social</li>
        <li>Videojuego VR (VR-EXPERIENCE): Desarrollado en Unity. El objetivo fue brindar una experiencia VR al usuario <a href="https://pmd-vr-experience.web.app/index.html" rel="nofollow">Pagina web del proyecto</a></li>
        <li>App web Gestion de tareas (Daily): Crea listas de tareas en las que organizar tus actividades pendientes <a href="https://withardoriginal1.github.io/Templates/index.html" rel="nofollow">Enlace a la aplicacion web</a></li>
        <li>Portfolio Web: <a href="https://luishidalgoa.github.io/" rel="nofollow">Enlace aquí</a></li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>About my</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Our mission is to ...</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>My </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Our vision is to ...</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Contact Us</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Email: luishidalgoaoutlook.es</p>
      <p>Phone: +1234567890</p>
    </ion-card-content>
  </ion-card>
</ion-content>